In [2]:
import findspark
findspark.init()
import pyspark

import random

conf = pyspark.SparkConf().setAppName("App")
conf = (conf.setMaster('local[*]')
        .set('spark.executor.memory', '4G')
        .set('spark.driver.memory', '45G')
        .set('spark.driver.maxResultSize', '10G'))
sc = pyspark.SparkContext(conf=conf)
# num_samples = 100000000
# def inside(p):     
#   x, y = random.random(), random.random()
#   return x*x + y*y < 1
# count = sc.parallelize(range(0, num_samples)).filter(inside).count()
# pi = 4 * count / num_samples
# print(pi)
# sc.stop()
#https://www.nodalpoint.com/spark-data-frames-from-csv-files-handling-headers-column-types/

In [3]:
%%time
from pyspark.sql import SQLContext
from pyspark.sql.types import *
sqlContext = SQLContext(sc)
taxi_df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('yellow_tripdata_2016-06.csv')

In [4]:
taxi_df.registerTempTable("taxi")

In [5]:
taxi_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

In [6]:
sqlContext.sql("select VendorID from taxi where VendorID < 100").show()

+--------+
|VendorID|
+--------+
|       2|
|       2|
|       2|
|       2|
|       2|
|       2|
|       2|
|       1|
|       1|
|       1|
|       1|
|       2|
|       2|
|       2|
|       2|
|       1|
|       1|
|       2|
|       2|
|       2|
+--------+
only showing top 20 rows

In [7]:
taxi_df.groupBy("VendorId").count().show()

+--------+-------+
|VendorId|  count|
+--------+-------+
|       1|5235710|
|       2|5899760|
+--------+-------+

In [9]:
sqlContext.sql("SELECT VendorId, COUNT(*) FROM taxi GROUP BY VendorId ").show()

+--------+--------+
|VendorId|count(1)|
+--------+--------+
|       1| 5235710|
|       2| 5899760|
+--------+--------+

In [10]:
sqlContext.sql("SELECT COUNT(*) FROM taxi WHERE store_and_fwd_flag = '' ").show()

+--------+
|count(1)|
+--------+
|       0|
+--------+